<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCSf6ksj52fiEltr13HvNZM47rF-DLLAhA</string>
	<key>GCM_SENDER_ID</key>
	<string>455304990375</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.algovision.discoverphilippines</string>
	<key>PROJECT_ID</key>
	<string>discover-philippines-7e2ef</string>
	<key>STORAGE_BUCKET</key>
	<string>discover-philippines-7e2ef.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:455304990375:ios:3e07bcb610f70d5f5a1582</string>
	<key>DATABASE_URL</key>
	<string>https://discover-philippines-7e2ef-default-rtdb.firebaseio.com</string>
</dict>
</plist>